
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.cl-internal-1dauvpw {
  display: none !important;
}
.cl-internal-piyvrh {
  display: none !important;
}
.cl-internal-d50gl1 {
  display: none !important;
}

.cl-internal-196c6cl {
  display: none !important;
}

.cl-internal-tdwgmn {
  display: none !important;
}
.cl-internal-e41776{
  display: none;
}
.cl-internal-df7v37{
  display: none;
}